<div class="table-container table-responsive w-100">
    <table class="table table-striped table-hover w-100">
        <caption class="no-select">{{this.caption}}</caption>
        <thead>
            <tr>
                <th *ngFor="let prop of headers;" scope="col">{{ prop }}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let prop of headers; let i = index">
                    <input type="text" class="form-control" [(ngModel)]="fields[i]">
                </td>
                <td>
                    <button oncopy="return false" oncut="return false" onpaste="return false"  (click)="newObject()" class="no-select float-right ml-md-4 btn btn-sm btn-success">Add</button>
                </td>
            </tr>
            <tr *ngFor="let field of forLimit(21); let i = index">
                <td *ngIf="i >= data.length then format; else print"></td>
                <ng-template #format>
                    <td scope="row" class="no-select">-</td>
                    <td scope="row" *ngFor="let prop of headers"></td>
                </ng-template>
                <ng-template #print>
                    <td scope="row" *ngFor="let p of field | keyvalue: originalOrder">{{ p.value }}</td>
                    <td scope="row" style="min-width: 200px"><button *ngIf="field.id != null" (click)="edit(field.id)" class="no-select float-right ml-md-4 btn btn-sm btn-outline-primary">Edit</button><button oncopy="return false" oncut="return false" onpaste="return false" (click)="view(field.id)" *ngIf="field.id != null" class="no-select float-right btn btn-sm btn-outline-success">View</button></td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>