/**/API/appsettings.Development.json
/**/.vs
/**/API/bin
/**/API/obj
*.dll
*.pdb
*.cache
*.dll
*.v2
*.json
*.v2
.vs/IMS/v16/.suo
.vs/IMS/v16/.suo
.vs/IMS/v16/.suo
API/bin/Debug/netcoreapp3.1/API.deps.json
API/bin/Debug/netcoreapp3.1/API.dll
API/bin/Debug/netcoreapp3.1/API.exe
*.exe
API/bin/Debug/netcoreapp3.1/API.dll
*.pdb
API/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
API/bin/Debug/netcoreapp3.1/appsettings.Development.json
API/bin/Debug/netcoreapp3.1/DnsClient.dll
API/bin/Debug/netcoreapp3.1/MongoDB.Bson.dll
API/bin/Debug/netcoreapp3.1/MongoDB.Driver.Core.dll
API/bin/Debug/netcoreapp3.1/MongoDB.Driver.dll
API/bin/Debug/netcoreapp3.1/MongoDB.Libmongocrypt.dll
API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
*.dll
*.cache
API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp3.1/staticwebassets/API.StaticWebAssets.xml
API/obj/project.nuget.cache
