@inject HttpClient Http
@inject Blazored.LocalStorage.LocalStorageService localStorage
@inject IJSRuntime js
@using Classes
@using Models
@using System.Net

<div class="card">
    <div class="user-info">
        <div class="username">
            @user.username
        </div>
    </div>
    <div class="action-list">
        <button class="edit-button" @onclick="f => editUser(user)">Edit</button>
        <button class="delete-button" @onclick="f => deleteUser(user)">Delete</button>
    </div>
</div>

@code{
    [Parameter]
    public User user { get; set; }
    [Parameter]
    public EventCallback<User> onUserEdit { get; set; }
    [Parameter]
    public EventCallback<User> onUserDelete { get; set; }

    protected async Task editUser(User user)
    {
        await onUserEdit.InvokeAsync(user);
    }

    protected async Task deleteUser(User user)
    {
        this.user = user;
        await onUserDelete.InvokeAsync(user);
        user = null;
    }

    public async Task ShowEditScreen()
    {
        await js.InvokeVoidAsync("ShowPage", 2);
    }

}
