@page "/"
@using System.Net
@inject HttpClient Http
@inject NavigationManager NavManager
@inject Blazored.LocalStorage.LocalStorageService localStorage
@inject Utility utility
@using Models
@using Interfaces
@using Classes


<div class="login-container">
    <div class="small-form">
        <h2>Login to IMS v1.0.0</h2>
        <div class="login-form">
            <input type="text" name="username" placeholder="username" spellcheck="false" @bind-value="username" />
            <input type="password" name="username" placeholder="password" @bind-value="password" />
            <button type="submit" @onclick="SubmitLogin">Login</button>
        </div>
    </div>
</div>

@code{
    protected override void OnInitialized()
    {
        string token = localStorage.GetItemAsString("BearerToken");
        if (token != null && !Utility.isTokenExpired(token))
        {
            NavManager.NavigateTo("Management");
        }
    }

    private string username;
    private string password;

    private async void SubmitLogin()
    {
        User user = new User();
        user.username = username;
        user.password = password;

        IHttpRequestService<User> requestService = new HttpRequestService<User>(Http, localStorage);

        HttpStatusCode request = await Task.Run(() => (requestService.tokenRequest(user)));

        if (request == HttpStatusCode.OK)
        {
            NavManager.NavigateTo("Management");
        }

    }


}