@page "/Management"

<div class="management-container">
    <div class="card-container">
        
        <div class="card">
            <a href="/Users">
                User Management
            </a>
        </div>
        <div class="card">
            <a href="/Inventory">
                Inventory Management
            </a>
        </div>
    </div>
</div>

@code {

}
