@page "/Users"
 
<div class="user-container">
    <div class="navigation">
        <ul>
            <li>Users</li>
            <li>Add user</li>
        </ul>
    </div>
    <div class="container">
        <div class="search-box">
            <input type="text" name="search" placeholder="Find users..." spellcheck="false"/>
        </div>
    </div>
</div>

@code {

}
