.user-container {
    width: 100%;
    height: 100%;
    background: #1D201F;
}

    .user-container .navigation {
        width: 20%;
        height: 100%;
        background: #2B302E;
        border-right: 2px solid #E0A100;
        float: left;
    }

ul {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

    ul li {
        height: 50px;
        width: 100%;
        border-bottom: 2px solid #E0A100;
        text-align: center;
        line-height: 50px;
        color: #E0A100;
        cursor: pointer;
    }

    ul .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: none;
        border-top: 2px solid #E0A100;
    }

        ul li:hover {
            background: #444b49;
        }

.container {
    width: 80%;
    height: 100%;
    float: left;
    transition: all ease-in 0.1s;
}
    .container .search-box {
        width: 100%;
        height: 50px;
        top: 0;
        border-bottom: 2px solid #E0A100;
    }

        .container .search-box input {
            width: 100%;
            height: 100%;
            padding: 8px;
            background: #2B302E;
            font-size: 20px;
            border: none;
            outline: none;
            color: #E0A100;
        }

.users-list {
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    padding: 5%;
    display: grid;
    grid-gap: 5% 5.3%;
    grid-template-columns: 28% 28% 28%  ;
    grid-auto-rows: 60px;
}

.add-container {
    display: none;
    width: 80%;
    height: 100%;
    float: left;
    transition: all ease-in 0.1s;
    justify-content: center;
}

.add-container input {
    display: block;
    width: 40%;
    font-size: 20px;
    margin: auto;
    outline: none;
    padding: 1%;
    border: 2px solid #FFE299;
    transition: all ease-in 0.1s;
    background: #2B302E;
    color: #E0A100;
    height: 50px;
    font-weight: 300;
}

    .add-container input::placeholder {
        color: #E0A100;
        opacity: 1;
    }

    .add-container input:focus {
        border: 2px solid #E0A100;
    }

button {
    display: block;
    font-size: 24px;
    background-color: #FFE299;
    margin: auto;
    outline: none;
    border: none;
    padding: 0 5%;
    color: #1D201F;
    transition: all ease-in 0.1s;
    height: 50px;
}

    button:hover, button:focus {
        background-color: #E0A100;
    }

.add-container .add-user-form {
    width: 100%;
    height: 30%;
    margin: auto;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.add-container span{
    color: red;
    display: block;
    width: 100%;
    height: 15px;
    text-align: center;
}

::deep .card {
    background-color: #2B302E;
    border: 2px solid #E0A100;
}

::deep .user-info {
    width: 70%;
    height: 100%;
    float: left;
    display: block;
    padding: 10px;
    color: #E0A100;
}

::deep .user-info .username{
    color: #E0A100;
    line-height: 40px;
}

::deep .action-list {
    width: 30%;
    height: 100%;
    float: left;
    display: block;
}

    ::deep .action-list button {
        width: 50%;
        display: block;
        float: left;
        height: 100%;
        background: #FFE299;
        border: none;
        outline: none;
        transition: all ease-in-out 0.1s;
        border-left: 2px solid #E0A100;
    }

        ::deep .action-list button:hover {
            background: #E0A100;
        }

::deep .loading {
    color: red;
}