@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #1D201F;
    font-family: 'Roboto', sans-serif;
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #1D201F;
}

.small-form {
    width: 25%;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .small-form .form-title {
        display: block;
        text-align: center;
        width: 100%;
        font-weight: 300;
        font-size: 40px;
        justify-self: flex-start;
        color: #E0A100;
    }

    .small-form .login-form {
        width: 100%;
        display: flex;
        justify-self: flex-end;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50%;
    }

    .small-form input {
        display: block;
        width: 70%;
        font-size: 28px;
        margin: auto;
        outline: none;
        padding: 1%;
        border: 4px solid #FFE299;
        transition: all ease-in 0.1s;
        background: #2B302E;
        color: #E0A100;
    }

        .small-form input::placeholder {
            color: #E0A100;
            opacity: 1;
        }

        .small-form input:focus {
            border: 4px solid #E0A100;
        }

    .small-form button {
        display: block;
        font-size: 24px;
        background-color: #FFE299;
        margin: auto;
        outline: none;
        border: none;
        padding: 0 5%;
        color: #1D201F;
        transition: all ease-in 0.1s;
    }

        .small-form button:hover, .small-form button:focus {
            background-color: #E0A100;
        }
