{
  "ConnectionStrings": {
    "Database": "mongodb+srv://admin:pipo03569969@ims.wnbr5.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
  },
  "JWTTokenData": {
    "Private_Key": "ABC123",
    "Expires_In": 24
  }
}
